@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@await Component.InvokeAsync("_DashboardWidgetsComponentPartial")



<div class="row">

    @await Component.InvokeAsync("_DashboardMainChartComponentPartial")

    @await Component.InvokeAsync("_DashboardSecondChartComponentPartial")

</div>

@await Component.InvokeAsync("_DashboardSubWidgetsComponentPartial")

<div class="row g-3">

    <div class="col-12 col-lg-6 col-xl-6">
        @await Component.InvokeAsync("_DashboardForecastingPoliciesSelesComponentPartial")
    </div>

    <div class="col-12 col-lg-6 col-xl-6">
        @await Component.InvokeAsync("_DashboardPolicyTypesComponentPartial")
    </div>

</div>
@* @await Component.InvokeAsync("_DashboardSubChartsComponentPartial")
 *@


<div class="row">
    @await Component.InvokeAsync("_DashboardCommentListComponentPartial")
    @await Component.InvokeAsync("_DashboardAppUserQuickViewTableComponentPartial")


</div>  
@await Component.InvokeAsync("_DashboardScriptsComponentPartial")

