@model About
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Hakkımızda Yazı Girişi</h5>
        </div>
        <form method="post">
            @Html.AntiForgeryToken()

            <label class="form-label">Başlık</label>
            <input type="text" class="form-control mb-3" asp-for="Title" />

            <label class="form-label">Görsel URL</label>
            <input type="text" class="form-control mb-3" asp-for="ImageUrl" />

            <label class="form-label">Açıklama</label>
            <textarea class="form-control mb-3" asp-for="Description" rows="5"></textarea>

            <button type="submit" class="btn btn-primary" onclick="showLoading()">
                Hakkımızda Yazısını Kaydet
            </button>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function showLoading() {
                Swal.fire({
                    title: 'Kaydediliyor...',
                    html: 'Lütfen bekleyiniz',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
            }
        </script>
    </div>
</div>
