@model Message
@{
    ViewData["Title"] = "CreateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Mesaj Girişi</h5>
        </div>

        <form asp-action="CreateMessage"
              asp-controller="Message"
              method="post">

            @Html.AntiForgeryToken()

            <label class="form-label">Gönderici Adı Soyadı</label>
            <input class="form-control mb-3" asp-for="NameSurname" />

            <label class="form-label">Gönderici Email</label>
            <input class="form-control mb-3" asp-for="Email" />

            <label class="form-label">Konu</label>
            <input class="form-control mb-3" asp-for="Subject" />

            <label class="form-label">Mesaj Detayı</label>
            <textarea class="form-control mb-3"
                      asp-for="MessagetDetail"
                      rows="5"></textarea>

            <button type="submit" class="btn btn-primary">
                Mesajı Kaydet
            </button>
        </form>
    </div>
</div>
