@model Article
@{
    ViewData["Title"] = "UpdateArticle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="mb-3">Makale Düzenleme Sayfası</h5>

        <form method="post">
            <input type="hidden" asp-for="ArticleId" />

            <label class="form-label">Başlık</label>
            <input class="form-control mb-3" asp-for="Title" />

            <label class="form-label">Kapak Fotoğrafı</label>
            <input class="form-control mb-3" asp-for="CoverImageUrl" />

            <label class="form-label">Makale Detay Kapak Görseli</label>
            <input class="form-control mb-3" asp-for="MainCoverImageUrl" />

            <label class="form-label">Kategori</label>
            <select asp-for="CategoryId" class="form-control mb-3">
                @foreach (var item in ViewBag.Categories)
                {
                    <option value="@item.CategoryId"
                            selected="@(item.CategoryId == Model.CategoryId)">
                        @item.CategoryName
                    </option>
                }
            </select>

            <label class="form-label">Makale İçeriği</label>
            <textarea class="form-control mb-3" asp-for="Content" rows="15"></textarea>

            <button class="btn btn-success">Makaleyi Güncelle</button>
        </form>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.20.2/full-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace("Content", { height: 400 });
</script>
